USE [master]
GO
/****** Object:  Database [Committee_DB]    Script Date: 10/12/2019 14:43:06 ******/
CREATE DATABASE [Committee_DB] ON  PRIMARY 
( NAME = N'Committee_DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Committee_DB.mdf' , SIZE = 9472KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Committee_DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Committee_DB_log.LDF' , SIZE = 18240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Committee_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Committee_DB]
GO
/****** Object:  Table [dbo].[Importance]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[titleEn] [nvarchar](50) NULL,
	[titleAr] [nvarchar](50) NULL,
 CONSTRAINT [PK_Importance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Importance] ON
INSERT [dbo].[Importance] ([Id], [titleEn], [titleAr]) VALUES (1, N'Normal', N'عادية')
INSERT [dbo].[Importance] ([Id], [titleEn], [titleAr]) VALUES (2, N'Important', N'هامة')
SET IDENTITY_INSERT [dbo].[Importance] OFF
/****** Object:  Table [dbo].[Departments]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](500) NULL,
	[DeptAddress] [nvarchar](500) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON
INSERT [dbo].[Departments] ([DeptId], [DeptName], [DeptAddress]) VALUES (1, N'اداره1ي', N'الرياض')
INSERT [dbo].[Departments] ([DeptId], [DeptName], [DeptAddress]) VALUES (2, N'اداره2', N'جده')
INSERT [dbo].[Departments] ([DeptId], [DeptName], [DeptAddress]) VALUES (5, N'ادارة3', N'السعودية')
SET IDENTITY_INSERT [dbo].[Departments] OFF
/****** Object:  Table [dbo].[CoommitteLookup]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoommitteLookup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_CoommitteLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClickAction]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClickAction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Click_Action] [nvarchar](200) NULL,
 CONSTRAINT [PK_ClickAction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClickAction] ON
INSERT [dbo].[ClickAction] ([Id], [Click_Action]) VALUES (1, N'type_join_committee')
INSERT [dbo].[ClickAction] ([Id], [Click_Action]) VALUES (2, N'type_new_meeting')
INSERT [dbo].[ClickAction] ([Id], [Click_Action]) VALUES (3, N'type_update_agenda')
SET IDENTITY_INSERT [dbo].[ClickAction] OFF
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](100) NULL,
	[CreatedAt] [bigint] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CommitteeId] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Extra] [bigint] NULL,
 CONSTRAINT [PK_ChatMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatMessage] ON
INSERT [dbo].[ChatMessage] ([Id], [UserId], [UserName], [CreatedAt], [Message], [CommitteeId], [Type], [Extra]) VALUES (1, 1, N'Ahmed', 1570302397, N'Message from abdelsatar', 2, N'Normal', NULL)
INSERT [dbo].[ChatMessage] ([Id], [UserId], [UserName], [CreatedAt], [Message], [CommitteeId], [Type], [Extra]) VALUES (2, 1, N'Ahmed', 1570302397, N'Message from abdelsatar', 2, N'Normal', NULL)
INSERT [dbo].[ChatMessage] ([Id], [UserId], [UserName], [CreatedAt], [Message], [CommitteeId], [Type], [Extra]) VALUES (3, 1, N'Ahmed', 1570302397, N'Message from abdelsatar', 2, N'Normal', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
/****** Object:  Table [dbo].[Chat]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](200) NULL,
	[CommitteeId] [int] NULL,
	[Date] [datetime] NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[titleEn] [nvarchar](50) NULL,
	[titleAr] [nchar](10) NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON
INSERT [dbo].[Activity] ([Id], [titleEn], [titleAr]) VALUES (1, N'Active', N'نشطة      ')
INSERT [dbo].[Activity] ([Id], [titleEn], [titleAr]) VALUES (2, N'Inactive', N'غير نشطة  ')
SET IDENTITY_INSERT [dbo].[Activity] OFF
/****** Object:  Table [dbo].[Type]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[titleEn] [nvarchar](50) NULL,
	[titleAr] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Type] ON
INSERT [dbo].[Type] ([Id], [titleEn], [titleAr]) VALUES (1, N'Military', N'عسكرية')
INSERT [dbo].[Type] ([Id], [titleEn], [titleAr]) VALUES (2, N'Civil', N'مدنية')
SET IDENTITY_INSERT [dbo].[Type] OFF
/****** Object:  Table [dbo].[SystemRole]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[titleAr] [nvarchar](50) NULL,
	[titleEn] [nvarchar](50) NULL,
 CONSTRAINT [PK_SystemRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemRole] ON
INSERT [dbo].[SystemRole] ([Id], [titleAr], [titleEn]) VALUES (1, N'مدير النظام', N'Admin')
INSERT [dbo].[SystemRole] ([Id], [titleAr], [titleEn]) VALUES (2, N'سكرتير النظام', N'Secrtary')
INSERT [dbo].[SystemRole] ([Id], [titleAr], [titleEn]) VALUES (3, N'مستخدم', N'User')
SET IDENTITY_INSERT [dbo].[SystemRole] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titleAr] [nvarchar](50) NULL,
	[titleEn] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([ID], [titleAr], [titleEn]) VALUES (4, N'سكرتير اللجنة', N'Committe secretry')
INSERT [dbo].[Roles] ([ID], [titleAr], [titleEn]) VALUES (5, N'رئيس اللجنة', N'Committe admin')
INSERT [dbo].[Roles] ([ID], [titleAr], [titleEn]) VALUES (6, N'عضو', N'Member')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[MobileVerification]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileVerification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [bigint] NULL,
	[Code] [int] NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_MobileVerification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MobileVerification] ON
INSERT [dbo].[MobileVerification] ([Id], [Phone], [Code], [DateTime]) VALUES (7, 966501258965, 175, CAST(0x0000AADB01225143 AS DateTime))
INSERT [dbo].[MobileVerification] ([Id], [Phone], [Code], [DateTime]) VALUES (8, 966501258965, 896, CAST(0x0000AADB0128B729 AS DateTime))
INSERT [dbo].[MobileVerification] ([Id], [Phone], [Code], [DateTime]) VALUES (9, 966501258965, 826, CAST(0x0000AADB012FCA5D AS DateTime))
SET IDENTITY_INSERT [dbo].[MobileVerification] OFF
/****** Object:  Table [dbo].[Members]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [nvarchar](50) NULL,
	[MemberTitle] [nvarchar](50) NULL,
	[MemberAddress] [nvarchar](200) NULL,
	[MemberPhone] [nvarchar](50) NULL,
	[MemberMail] [nvarchar](200) NULL,
	[MemberType] [nvarchar](50) NULL,
	[MemberWorkSide1] [nvarchar](50) NULL,
	[MemberWorkSide2] [nvarchar](50) NULL,
	[MemberWorkSide3] [nvarchar](50) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Members] ON
INSERT [dbo].[Members] ([MemberId], [MemberName], [MemberTitle], [MemberAddress], [MemberPhone], [MemberMail], [MemberType], [MemberWorkSide1], [MemberWorkSide2], [MemberWorkSide3]) VALUES (1, N'احمد', N'a', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Members] ([MemberId], [MemberName], [MemberTitle], [MemberAddress], [MemberPhone], [MemberMail], [MemberType], [MemberWorkSide1], [MemberWorkSide2], [MemberWorkSide3]) VALUES (2, N'محمد', N'b', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Members] ([MemberId], [MemberName], [MemberTitle], [MemberAddress], [MemberPhone], [MemberMail], [MemberType], [MemberWorkSide1], [MemberWorkSide2], [MemberWorkSide3]) VALUES (5, N'عوض', N'b', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Members] OFF
/****** Object:  Table [dbo].[Meetings]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[MeetingId] [int] IDENTITY(1,1) NOT NULL,
	[MeetingTitle] [nvarchar](max) NULL,
	[CommitteeId] [int] NULL,
	[MeetingDate] [nvarchar](200) NULL,
	[Latitude] [float] NULL,
	[longitude] [float] NULL,
	[MeetingDesc] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[proceedings] [nvarchar](max) NULL,
	[MeetingAddress] [nvarchar](500) NULL,
	[AgendaTime] [nvarchar](50) NULL,
	[AgendaDescription] [nvarchar](max) NULL,
	[MinutesOfMeeting] [nvarchar](max) NULL,
	[MeetingTime] [nvarchar](50) NULL,
	[MeetingHistory] [int] NULL,
	[CreatedAt] [nvarchar](100) NULL,
	[UpdatedAt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Meetings] PRIMARY KEY CLUSTERED 
(
	[MeetingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Meetings] ON
SET IDENTITY_INSERT [dbo].[Meetings] OFF
/****** Object:  Table [dbo].[MeetingHistory]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitleAr] [nvarchar](500) NULL,
	[TitleEn] [nvarchar](500) NULL,
	[MeetingId] [int] NOT NULL,
	[MeetingDate] [nvarchar](300) NULL,
	[CreatedAt] [nvarchar](100) NULL,
 CONSTRAINT [PK_MeetingStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MeetingHistory] ON
INSERT [dbo].[MeetingHistory] ([Id], [TitleAr], [TitleEn], [MeetingId], [MeetingDate], [CreatedAt]) VALUES (1, N'تم الانشاء', N'File created', 4, N'2005-05-05', N'2005-05-05')
INSERT [dbo].[MeetingHistory] ([Id], [TitleAr], [TitleEn], [MeetingId], [MeetingDate], [CreatedAt]) VALUES (3, N'تم الانشاء', N'File created', 5, N'2005-05-05', N'2005-05-05')
INSERT [dbo].[MeetingHistory] ([Id], [TitleAr], [TitleEn], [MeetingId], [MeetingDate], [CreatedAt]) VALUES (5, N'تم الانشاء', N'File created', 11, N'2005-05-05', N'2005-05-05')
SET IDENTITY_INSERT [dbo].[MeetingHistory] OFF
/****** Object:  Table [dbo].[Committees]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Committees](
	[CommitteeId] [int] IDENTITY(1,1) NOT NULL,
	[CommitteeManager] [nvarchar](200) NULL,
	[CommitteeName] [nvarchar](max) NULL,
	[CommitteeSecretary] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[IsImportant] [bit] NULL,
	[IsMilitarized] [bit] NULL,
	[MinutesOfTheCommittee] [nvarchar](max) NULL,
	[CommitteePDFView] [nvarchar](max) NULL,
	[CommitteeDate] [nvarchar](50) NULL,
	[CommitteeTopic] [nvarchar](max) NULL,
	[CommitteeBasedOn] [nvarchar](max) NULL,
	[CommitteeInbox1] [nvarchar](50) NULL,
	[CommitteeInbox2] [nvarchar](50) NULL,
	[CommitteeInbox3] [nvarchar](50) NULL,
	[CommitteeEnrollmentNumber] [nvarchar](50) NULL,
	[CommitteeEnrollmentDate] [nvarchar](50) NULL,
	[CreatedAt] [nvarchar](500) NULL,
	[UpdatedAt] [nvarchar](500) NULL,
	[ActivityId] [int] NOT NULL,
	[ImportanceId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[DeptId] [int] NULL,
 CONSTRAINT [PK_Committees] PRIMARY KEY CLUSTERED 
(
	[CommitteeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Committees] ON
INSERT [dbo].[Committees] ([CommitteeId], [CommitteeManager], [CommitteeName], [CommitteeSecretary], [IsActive], [IsImportant], [IsMilitarized], [MinutesOfTheCommittee], [CommitteePDFView], [CommitteeDate], [CommitteeTopic], [CommitteeBasedOn], [CommitteeInbox1], [CommitteeInbox2], [CommitteeInbox3], [CommitteeEnrollmentNumber], [CommitteeEnrollmentDate], [CreatedAt], [UpdatedAt], [ActivityId], [ImportanceId], [TypeId], [DeptId]) VALUES (2, N'1', N'اللجنه الثانيه', N'2', 1, 0, 1, NULL, NULL, N'2010-05-10', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'2005-05-05', N'2005-05-05', 1, 1, 2, 2)
INSERT [dbo].[Committees] ([CommitteeId], [CommitteeManager], [CommitteeName], [CommitteeSecretary], [IsActive], [IsImportant], [IsMilitarized], [MinutesOfTheCommittee], [CommitteePDFView], [CommitteeDate], [CommitteeTopic], [CommitteeBasedOn], [CommitteeInbox1], [CommitteeInbox2], [CommitteeInbox3], [CommitteeEnrollmentNumber], [CommitteeEnrollmentDate], [CreatedAt], [UpdatedAt], [ActivityId], [ImportanceId], [TypeId], [DeptId]) VALUES (3, N'2', N'اللجنه الثالثه', N'1', 1, 0, 1, NULL, NULL, N'2010-05-10', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'2005-05-05', N'2005-05-05', 1, 2, 1, 2)
SET IDENTITY_INSERT [dbo].[Committees] OFF
/****** Object:  Table [dbo].[Agenda]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AgendaTime] [nvarchar](50) NULL,
	[AgendaDesc] [nvarchar](max) NULL,
	[MeetingId] [int] NOT NULL,
	[CreatedAt] [nvarchar](50) NULL,
	[UpdatedAt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agenda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agenda] ON
INSERT [dbo].[Agenda] ([id], [AgendaTime], [AgendaDesc], [MeetingId], [CreatedAt], [UpdatedAt]) VALUES (2, NULL, N'1-دخول
2-كلمه مدير اللجنة
3-مراجعة الحضور والغياب
4-تحديد بنود الاجتماع القادم (زمان و مكان)
5-مراجعة التكاليف', 4, N'2019-10-06', NULL)
INSERT [dbo].[Agenda] ([id], [AgendaTime], [AgendaDesc], [MeetingId], [CreatedAt], [UpdatedAt]) VALUES (4, N'2005-05-05 ', N'دخول اللجنه', 5, N'2005-05-05', N'2005-05-05 ')
INSERT [dbo].[Agenda] ([id], [AgendaTime], [AgendaDesc], [MeetingId], [CreatedAt], [UpdatedAt]) VALUES (5, N'2005-05-05 ', N'كلمه ترحيبيه', 5, N'2009-05-05', N'2005-05-05 ')
SET IDENTITY_INSERT [dbo].[Agenda] OFF
/****** Object:  View [dbo].[ValidCode]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ValidCode] AS
SELECT *
FROM MobileVerification 
WHERE DateTime >= DATEADD(SECOND, -90, GETDATE())
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[IsConfirmed] [bit] NULL,
	[Title] [nvarchar](50) NULL,
	[UserRole] [int] NULL,
	[UserPassword] [nvarchar](300) NULL,
	[UserEmailId] [nvarchar](300) NULL,
	[UserImage] [nvarchar](max) NULL,
	[SystemRole] [int] NULL,
	[WorkSide] [nvarchar](max) NULL,
	[ManagerOfDepartment] [int] NULL,
	[Name] [nvarchar](300) NULL,
	[Gender] [nvarchar](50) NULL,
	[FCMToken] [nvarchar](max) NULL,
	[DeviceType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([ID], [UserName], [Phone], [Address], [IsConfirmed], [Title], [UserRole], [UserPassword], [UserEmailId], [UserImage], [SystemRole], [WorkSide], [ManagerOfDepartment], [Name], [Gender], [FCMToken], [DeviceType]) VALUES (1, N'ganna', N'966501258965', N'66kkk', NULL, N'', 4, N'd41d8cd98f00b204e9800998ecf8427e', N'test@gmail.com', N'/6171326.png', 6, N'المملكه العربيه', NULL, N'اسماعيل محمد ', N'ذكر', N'dUEekKt9RQg:APA91bFIhb78zolqiWeoUIY8RzKh3x5B0M2hDXmHrrfo8hmfmLKMw8ZSs0m61WTk6mmvSnfAqnQa8-jm4arxT_s4kOOnTL7Fp50ATvvqhgwZwjCk_wDBB7Wh4sryh6d2jvWbL1L1HxDj', N'Android')
INSERT [dbo].[Users] ([ID], [UserName], [Phone], [Address], [IsConfirmed], [Title], [UserRole], [UserPassword], [UserEmailId], [UserImage], [SystemRole], [WorkSide], [ManagerOfDepartment], [Name], [Gender], [FCMToken], [DeviceType]) VALUES (2, N'mahmoud', N'0125445', NULL, NULL, NULL, 4, N'827ccb0eea8a706c4c34a16891f84e7b', N'test@gmail.com', NULL, 1, N'الرياض', 1, N'محمود', N'ذكر', N'fQcj264J6Iw:APA91bGFmVPo9rg4LRZC-zSNeDqn6dzsTLkUVuWEqFRr0cgZ6W2HHwYUWXWfzv1HuzK2XfJe0K9DusPw8aZaqZ1IiNexAcExVYLTomgzAeJozKXA6HVI6VFRn77UiQOUe96B7cm9n0VJ
', N'android')
INSERT [dbo].[Users] ([ID], [UserName], [Phone], [Address], [IsConfirmed], [Title], [UserRole], [UserPassword], [UserEmailId], [UserImage], [SystemRole], [WorkSide], [ManagerOfDepartment], [Name], [Gender], [FCMToken], [DeviceType]) VALUES (6, N'عبد الله ', N'5266', NULL, NULL, NULL, 4, N'827ccb0eea8a706c4c34a16891f84e7b', N'test@gmail.com', NULL, 1, NULL, 2, N'عبد الله', N'انثى', N'dUEekKt9RQg:APA91bFIhb78zolqiWeoUIY8RzKh3x5B0M2hDXmHrrfo8hmfmLKMw8ZSs0m61WTk6mmvSnfAqnQa8-jm4arxT_s4kOOnTL7Fp50ATvvqhgwZwjCk_wDBB7Wh4sryh6d2jvWbL1L1HxDj
', N'android')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[CommitteesMembers]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitteesMembers](
	[CommitteeMemberId] [int] IDENTITY(1,1) NOT NULL,
	[CommitteeId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[CommitteeDate] [nvarchar](100) NULL,
	[MemberWillAttend] [bit] NULL,
	[IsMinuteAccepted] [bit] NULL,
	[AcceptProceedings] [bit] NULL,
	[ReasonOfRejection] [nvarchar](max) NULL,
	[AgendamodifingSuggession] [nvarchar](max) NULL,
	[AlertTime] [nvarchar](50) NULL,
	[MeetingTitle] [nvarchar](500) NULL,
	[MeetingAddress] [nvarchar](500) NULL,
	[MeetingStatus] [nvarchar](50) NULL,
	[AgendaTime] [nvarchar](50) NULL,
	[AgendaDescription] [nvarchar](max) NULL,
	[MeetingDate] [nvarchar](50) NULL,
	[MeetingId] [int] NULL,
	[MemberSignature] [nvarchar](max) NULL,
	[IsMemberAcceptedMiutesOfCommittee] [bit] NULL,
	[AlertId] [int] NULL,
	[CreatedAt] [nvarchar](500) NULL,
	[UpdatedAt] [nvarchar](500) NULL,
	[CommitteeRole] [int] NULL,
 CONSTRAINT [PK_CommitteesMembers_1] PRIMARY KEY CLUSTERED 
(
	[CommitteeMemberId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CommitteesMembers] ON
INSERT [dbo].[CommitteesMembers] ([CommitteeMemberId], [CommitteeId], [MemberId], [CommitteeDate], [MemberWillAttend], [IsMinuteAccepted], [AcceptProceedings], [ReasonOfRejection], [AgendamodifingSuggession], [AlertTime], [MeetingTitle], [MeetingAddress], [MeetingStatus], [AgendaTime], [AgendaDescription], [MeetingDate], [MeetingId], [MemberSignature], [IsMemberAcceptedMiutesOfCommittee], [AlertId], [CreatedAt], [UpdatedAt], [CommitteeRole]) VALUES (7, 1, 2, N'10/1/1991', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 5, NULL, 0, 0, N'2019-09-10', N'2019-09-10', 6)
INSERT [dbo].[CommitteesMembers] ([CommitteeMemberId], [CommitteeId], [MemberId], [CommitteeDate], [MemberWillAttend], [IsMinuteAccepted], [AcceptProceedings], [ReasonOfRejection], [AgendamodifingSuggession], [AlertTime], [MeetingTitle], [MeetingAddress], [MeetingStatus], [AgendaTime], [AgendaDescription], [MeetingDate], [MeetingId], [MemberSignature], [IsMemberAcceptedMiutesOfCommittee], [AlertId], [CreatedAt], [UpdatedAt], [CommitteeRole]) VALUES (8, 2, 6, N'10/1/1991', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 11, NULL, 0, 0, N'2019-09-10', N'2019-09-10', 6)
SET IDENTITY_INSERT [dbo].[CommitteesMembers] OFF
/****** Object:  Table [dbo].[Alerts]    Script Date: 10/12/2019 14:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[CreatedAt] [nvarchar](50) NULL,
	[Action_Id1] [int] NULL,
	[Action_Id2] [int] NULL,
	[Action_Type] [int] NULL,
 CONSTRAINT [PK_Alerts_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON
INSERT [dbo].[Alerts] ([Id], [Title], [Message], [UserId], [CreatedAt], [Action_Id1], [Action_Id2], [Action_Type]) VALUES (1, N'إشعار 1 ', N'تم إضافتك للجنة فحص الخالفات', 1, N'2019-09-03', 38, 4, 1)
INSERT [dbo].[Alerts] ([Id], [Title], [Message], [UserId], [CreatedAt], [Action_Id1], [Action_Id2], [Action_Type]) VALUES (2, N'إشعار 1 ', N'تم رفع محضر اللجنة', 1, N'2019-09-03', 38, 4, 5)
INSERT [dbo].[Alerts] ([Id], [Title], [Message], [UserId], [CreatedAt], [Action_Id1], [Action_Id2], [Action_Type]) VALUES (3, N'لجنة جديده', N'اشعار بخصوص اضافة لجنة', 1, N'2019-09-03', 38, 4, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Alerts] OFF
/****** Object:  Default [DF_CommitteesMembers_AlertId]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[CommitteesMembers] ADD  CONSTRAINT [DF_CommitteesMembers_AlertId]  DEFAULT ((0)) FOR [AlertId]
GO
/****** Object:  ForeignKey [FK_MeetingHistory_Meetings]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[MeetingHistory]  WITH CHECK ADD  CONSTRAINT [FK_MeetingHistory_Meetings] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MeetingHistory] CHECK CONSTRAINT [FK_MeetingHistory_Meetings]
GO
/****** Object:  ForeignKey [FK_Committees_Activity]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Committees]  WITH CHECK ADD  CONSTRAINT [FK_Committees_Activity] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activity] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Committees] CHECK CONSTRAINT [FK_Committees_Activity]
GO
/****** Object:  ForeignKey [FK_Committees_Departments]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Committees]  WITH CHECK ADD  CONSTRAINT [FK_Committees_Departments] FOREIGN KEY([DeptId])
REFERENCES [dbo].[Departments] ([DeptId])
GO
ALTER TABLE [dbo].[Committees] CHECK CONSTRAINT [FK_Committees_Departments]
GO
/****** Object:  ForeignKey [FK_Committees_Importance]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Committees]  WITH CHECK ADD  CONSTRAINT [FK_Committees_Importance] FOREIGN KEY([ImportanceId])
REFERENCES [dbo].[Importance] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Committees] CHECK CONSTRAINT [FK_Committees_Importance]
GO
/****** Object:  ForeignKey [FK_Committees_Type]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Committees]  WITH CHECK ADD  CONSTRAINT [FK_Committees_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Committees] CHECK CONSTRAINT [FK_Committees_Type]
GO
/****** Object:  ForeignKey [FK_Agenda_Meetings]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Meetings] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[Agenda] CHECK CONSTRAINT [FK_Agenda_Meetings]
GO
/****** Object:  ForeignKey [FK_Users_Departments]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments] FOREIGN KEY([ManagerOfDepartment])
REFERENCES [dbo].[Departments] ([DeptId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments]
GO
/****** Object:  ForeignKey [FK_Users_Roles]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  ForeignKey [FK_Users_SystemRole]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SystemRole] FOREIGN KEY([SystemRole])
REFERENCES [dbo].[SystemRole] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SystemRole]
GO
/****** Object:  ForeignKey [FK_CommitteesMembers_Committees]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[CommitteesMembers]  WITH CHECK ADD  CONSTRAINT [FK_CommitteesMembers_Committees] FOREIGN KEY([CommitteeId])
REFERENCES [dbo].[Committees] ([CommitteeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommitteesMembers] CHECK CONSTRAINT [FK_CommitteesMembers_Committees]
GO
/****** Object:  ForeignKey [FK_CommitteesMembers_Meetings]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[CommitteesMembers]  WITH CHECK ADD  CONSTRAINT [FK_CommitteesMembers_Meetings] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[CommitteesMembers] CHECK CONSTRAINT [FK_CommitteesMembers_Meetings]
GO
/****** Object:  ForeignKey [FK_CommitteesMembers_Users]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[CommitteesMembers]  WITH CHECK ADD  CONSTRAINT [FK_CommitteesMembers_Users] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommitteesMembers] CHECK CONSTRAINT [FK_CommitteesMembers_Users]
GO
/****** Object:  ForeignKey [FK_Alerts_Users]    Script Date: 10/12/2019 14:43:07 ******/
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_Users]
GO
